<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <nav th:fragment="navbar" class="navbar w-full flex items-center justify-between py-3 bg-purple-900 absolute top-0">
        <div>
            <a href="/" class="text-2xl font-bold text-white">APAP Medika</a>
        </div>

        <div>
            <ul class="flex space-x-6 text-purple-300 font-semibold">
                <li><a href="/" class="hover:text-purple-100">Home</a></li>
                <li><a href="/reservations" class="hover:text-purple-100">Reservations</a></li>
                <li><a href="/rooms" class="hover:text-purple-100">Rooms</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>