<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Update Ruangan</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center my-4">
            <h2>Update Ruangan</h2>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body">
                    <div>
                        <form th:action="@{/rooms/{roomId}/update(roomId=${roomDTO.id})}" th:object="${roomDTO}" method="POST">
                            <div class="row my-3">
                                <label for="nama-ruangan" class="col-sm-2 fw-bold col-form-label">Room Name</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" id="nama-ruangan" th:field="*{name}" placeholder="Room Name" />
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="kapasitas" class="col-sm-2 fw-bold col-form-label">Max Capacity</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" id="kapasitas" th:field="*{maxCapacity}" placeholder="0" />
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="harga-per-hari" class="col-sm-2 fw-bold col-form-label">Price Per Day (IDR)</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <input class="form-control" type="number" id="harga-per-hari" th:field="*{pricePerDay}" placeholder="0" />
                                </div>
                            </div>

                            <div class="form-group row my-3">
                                <label for="deskripsi" class="col-sm-2 fw-bold col-form-label">Description</label>
                                <p class="col-sm-1 fw-bold col-form-label" style="width: 2%">:</p>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="deskripsi" th:field="*{description}" placeholder="Description"></textarea>
                                </div>
                            </div>

                            <div class="flex gap-2 my-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a class="btn btn-secondary" href="@{/rooms/{roomId}(roomId=${roomDTO.id})}">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
