<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Patient Not Found</title>
</head>

<body class="flex w-full h-screen items-center justify-center bg-gray-100">
    <div class="text-center flex gap-2">
        <h1 class="text-2xl font-bold">Patient Not Found</h1>
        <h4 class="text-lg">Please insert this identity as a new patient before making the reservation.</h4>
        <a th:href="@{'/reservations/create?exist=false&nik=' + ${nik}}" class="btn btn-primary">Insert New Patient</a>
    </div>
</body>

</html>
