<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Ruangan</title>
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container mt-20 pb-2">
        <div class="row justify-content-center">
            <div class="card" style="width: 60rem;">
                <div class="card-body flex flex-col w-full">
                    <div class="w-full">
                        <div>
                            <p>Room ID: <span th:text="${room.id}"></span></p>
                            <p>Room Name: <span th:text="${room.name}"></span></p>
                            <p>Max Capacity: <span th:text="${room.maxCapacity}"></span></p>
                            <p>Price: <span th:text="'Rp' + ${room.pricePerDay} + '/ Day'"></span></p>
                            <p>Description: <span th:text="${room.description}"></span></p>
                            <p>Patient:</p>
                        </div>

                        <form method="get" th:action="@{/rooms/{roomId}(roomId=${room.id})}" class="flex w-full gap-3">
                            <div class="row my-2">
                                <div class="col-sm-12 flex flex-col">
                                    <label for="dateIn" class="fw-bold col-form-label">Reservation Date In</label>
                                    <input class="form-control" type="text" id="dateIn" name="dateIn"
                                        th:value="${#dates.format(dateIn, 'dd/MM/yyyy')}"
                                        placeholder="dd/MM/yyyy" required />
                                </div>
                            </div>
                            
                            <div class="row my-2">
                                <div class="col-sm-12 flex flex-col">
                                    <label for="dateOut" class="fw-bold col-form-label">Reservation Date Out</label>
                                    <input class="form-control" type="text" id="dateOut" name="dateOut"
                                        th:value="${#dates.format(dateOut, 'dd/MM/yyyy')}"
                                        placeholder="dd/MM/yyyy" required />
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-sm-12 flex flex-col flex items-center">
                                    <button type="submit" class="btn btn-primary h-8 mt-4">Apply</button>
                                </div>
                            </div>
                        </form>

                        <p>Quota Available: <span th:text="${availableQuota}"></span></p>
                        <table id="reservationsTable" class="table-auto w-full">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="reservation, iterStat : ${listReservation}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${reservation.patient.name}"></td>
                                    <td th:text="${reservation.patient.gender ? 'Female' : 'Male'}"></td>
                                    <td th:text="${reservation.patient.email}"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between">
                            <a th:href="@{/rooms}" class="btn btn-primary">Back</a>
                            <div class="w-full justify-end d-flex gap-2">
                                <a th:href="@{/rooms/{roomId}/update(roomId=${room.id})}" class="btn btn-primary">Update</a>
                                <a class="btn btn-danger text-white" data-toggle="modal" data-target="#confirmModal"
                                    th:data-room-name="${room.name}" th:data-room-id="${room.id}">Delete</a>
                            </div>
                        </div>
                    </div>

                    <!-- Confirmation Modal -->
                    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmModalLabel">Delete Room</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <strong th:text="${room.name}"></strong> room?
                                </div>
                                <div class="modal-footer">
                                    <form id="deleteRoomForm" method="post" th:action="@{/rooms/{roomId}/delete(roomId=${room.id})}" style="display:inline;">
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#reservationsTable').DataTable();
        });

        $(document).ready(function() {
            $('#confirmModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var roomId = button.data('room-id');
                var roomName = button.data('room-name');

                var modal = $(this);
                modal.find('.modal-body strong').text(roomName);
                modal.find('#deleteRoomForm').attr('action', '/rooms/' + roomId + '/delete');
            });
        });
    </script>
</body>
</html>